$color-third: #F5DB13;
$color-primary: #F2B807;
$color-second: #F28F16;
$color-danger: #D93E30;
$color-white: #F6F7F9;
$color-dark: #212121;
$color-stile: #A1A1A1;
$color-grass: #70A83B;
$color-ice: #A2CFF0;
$color-fire: #F76545;
$color-normal: #76AADB;
$color-purple: #A974BC;
$color-ground: #9B897B;
$color-electric: #F7C545;
