$color-third: #f5db13;
$color-primary: #f2b807;
$color-second: #f28f16;
$color-danger: #d93e30;
$color-white: #f6f7f9;
$color-dark: #212121;

$color-btn-green: #73d677;
$color-btn-yellow: #f2cb07;

$color-type-stile: #a1a1a1;
$color-type-grass: #73d677;
$color-type-bug: #70a83b;
$color-type-ice: #76AADB;
$color-type-water: #76AADB;
$color-type-fly: #76AADB;
$color-type-fire: #f76545;
$color-type-normal: #76AADB;
$color-type-poison: #a974bc;
$color-type-electric: #F7C545;
