@import '../../variables';

.root {
  min-height: 100vh;
}

.title {
  margin: 73px 0;
}

.loading {
  font-style: normal;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 3px;
  text-align: center;
  color: $color-dark;
  margin: 20px 0;
}

.error {
  font-style: normal;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 3px;
  text-align: center;
  color: $color-error;
  margin: 20px 0;
}

.input {
  width: 1088px;
  height: 53px;
  background: #f2f2f2;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  border: none;
  margin: 0 0 28px 0;
  padding-left: 31px;
  outline: 0;
}
